// Document information
// main style sheet for the water cycle interactve learning site
// Author: Luke Carl Thompson

@import "normalize";
@import "variables-mixins";
@import "typography";

html {
  //overflow: hidden;
}

  .loading {
    //display: none;
  }

//create class to server as the viewport.
.viewport {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  overflow: hidden;
  text-align: center;
}

//create class to contain the whole scene
.scene {
  height: 2000px;
  width: 5000px;
  background: url(images/scene-wide.svg);
  position: absolute;
  z-index: -10;
  left: 50%;
  top: 50%;
  margin-left: -2500px;     /* Shift over half the width */
  margin-top:  -1000px;
  transform: translateX(40%) translateY(11%) scale(1.6);
  transition-delay: 1s;
}

// style and positon the buttons
.btn {
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 80%;
  left: 50%;
  z-index: 100;
  @include hide;
  &.next {
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #5FA7CE;
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.5));
  }
  span {
    z-index: 2;
    position: relative;
    line-height: 80px;
    vertical-align: middle;
    width: 260px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    //text-shadow: 1px 2px 1px black;
  }
}

// styles for the container that holds the on screen content
.content-container {
  transition: transform .3s $bounce;
  position: absolute;
  display: inline-block;
  @include hide;
  &.first {
    top: 10%;
    left: 50%;
    margin-left: -160px;
  }
  &.second {
    top: 100px;
    left: 200px;
  }
  &.quiz {
    margin-top: 10%;
  }
}

// styles for the main title
.main-title {
  color: $yellow;
  text-shadow: 1px 1px 0px black;
  margin-top: 15%;
}

.quiz-title {
  color: $yellow;
  text-shadow: 1px 1px 0px black;
}

.main-info-box {
  max-width: 600px;
  //border: 2px solid green;
  display: inline-block;
  text-align: left;
  p {
    line-height: 2em;
  }
  .quiz & {
    background-color: $yellow;
    border-radius: 4px;
    padding: 10px;
    height: 250px;
    width: 300px;
  }
}

// styles for the info box that slides in from the right
.secondary-info-box {
  background-color: $yellow;
  position: absolute;
  height: 100vh;
  width: 300px;
  right: -300px;
  padding: 20px;
  text-align: left;
  transition: transform .5s $ease;
  &.trees-info {

  }
  &.ocean-info {

  }
  &.evaporation-info {

  }
  &.clouds-info {

  }
}

//styles for the close button
.close-btn {
  height: 40px;
  width: 40px;
  transition: transform .3s ease;
  span {
    height: 8px;
    width: 40px;
    background-color: $black;
    display: block;
    border-radius: 2px;
    transition: box-shadow .3s ease;
    box-shadow: 0px 0px 0 $black;
    &:nth-child(1) {
      transform: translateY(16px) rotate(45deg);
    }
    &:nth-child(2) {
      transform: translateY(8px) rotate(-45deg);
    }
  }
  &:hover {
    transform: scale(1.3);
    span {
      box-shadow: 0px 5px 10px $shadow;
    }
  }
}

.secondary-info-trigger {
  // transition: transform .3s $bounce;
  transform: scale(0);
  p {
    transform: scale(0);
    transition: transform .3s $bounce;
  }
  &:hover p {
    transform: scale(1);
  }
  .info-icon {
    position: relative;
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    fill: $yellow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px $shadow;
    transition: transform.3s, box-shadow .3s $bounce;
    &::after {
      content: "";
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      animation: pulse 2s $bounce;
      animation-iteration-count: infinite;
      top: 0;
      left: 0;
      border: 3px solid $yellow;
    }
  }
  &:hover {
    p {
      transform: scale(1);
    }
    .info-icon {
      @include hover
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.trees-trigger {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: scale(0);
}

.ocean-trigger {
  position: absolute;
  top: 72%;
  left: 65%;
}

.vapor-trigger {
  position: absolute;
  top: 60%;
  left: 69%;
}

.clouds-trigger {
  position: absolute;
  top: 26%;
  left: 69%;
}

// all position classes to control everything else based on which position the main scene is in.
.pos-one {
  .scene {
    transform: translateX(40%) translateY(11%) scale(1.6);
    transition: transform 1s $ease;
    transition-delay: .3s;
  }
  .quiz {
    @include hide
  }
  .first {
    @include show;
    animation-delay: 1s;
  }
}
.pos-two {
  .scene {
    transform: translateX(18%) translateY(11%) scale(.8);
    transition: transform 1s $ease;
    transition-delay: .3s;
  }
  .first {
    @include hide;
    &.next {
      animation-delay: .2s;
    }
  }
  .second {
    @include show;
    animation-delay: 1s;
    &.next {
      animation-delay: 1.2s;
    }
  }
}
.pos-three {
  .scene {
    transform: translateX(4%) translateY(-3.5%) scale(.9);
    transition: transform 1.5s $ease;
    transition-delay: .3s;
  }
  .second {
    @include hide;
    &.next {
      animation-delay: .2s;
    }
  }
  .third {
    @include show;
    animation-delay: 1.8s;
    &.next {
      animation-delay: 2s;
    }
  }
  .trees-trigger {
    @include show-02;
    animation-delay: 2.4s;
  }
  &.pos-three-a {
    .scene {
      transform: translateX(-2%) translateY(-4%) scale(1.1);
      transition: transform .3s $ease;
      transition-delay: .2s;
    }
    .third {
      @include hide;
      animation-delay: 0;
    }
    .trees-info {
      transform: translateX(-300px);
      transition-delay: .2s;
    }
    .next {
      @include hide;
      animation-delay: 0;
    }
    .trees-trigger {
      @include hide;
      animation-delay: .2s;
    }
  }
}

.pos-four {
  .scene {
    transform: translateX(-14%) translateY(-17%) scale(.9);
    transition: transform 1.2s $ease;
    transition-delay: .3s;
  }
  .third {
    @include hide;
    &.next {
      animation-delay: .2s;
    }
  }
  .fourth {
    @include show;
    animation-delay: 1.4s;
    &.next {
      animation-delay: 1.6s;
    }
  }
  .trees-trigger {
      @include hide;
      animation-delay: .2s;
    }
  .ocean-trigger {
    @include show-02;
    animation-delay: 2s;
  }
  &.pos-four-a {
    .scene {
      transform: translateX(-28%) translateY(-28%) scale(1.4);
      transition: transform .3s $ease;
      transition-delay: .2s;
    }
    .fourth {
      @include hide;
      animation-delay: 0;
    }
    .ocean-info {
      transform: translateX(-300px);
      transition-delay: .2s;
    }
    .next {
      @include hide;
      animation-delay: 0;
    }
    .ocean-trigger {
      @include hide;
      animation-delay: .2s;
    }
  }
}

.pos-five {
  .scene {
    transform: translateX(-19%) translateY(-8%) scale(1);
    transition: transform .8s $ease;
    transition-delay: .3s;
  }
  .fourth{
    @include hide;
    &.next {
      animation-delay: .2s;
    }
  }
  .fifth {
    @include show;
    animation-delay: 1s;
    &.next {
      animation-delay: 1.2s;
    }
  }
  .ocean-trigger {
      @include hide;
      animation-delay: .2s;
    }
  .vapor-trigger {
    @include show-02;
    animation-delay: 1.6s;
  }
  &.pos-five-a {
    .scene {
      transform: translateX(-35%) translateY(-8%) scale(1.5);
      transition: transform .3s $ease;
      transition-delay: .2s;
    }
    .fifth {
      @include hide;
      animation-delay: 0;
    }
    .evaporation-info {
      transform: translateX(-300px);
      animation-delay: .2s;
    }
    .next {
      @include hide;
    }
    .vapor-trigger {
      @include hide;
      animation-delay: .2s;
    }
  }
}

.pos-six {
  .scene {
    transform: translateX(-17%) translateY(25%) scale(.9);
    transition: transform 1s $ease;
    transition-delay: .3s;
  }
  .fifth{
    @include hide;
    &.next {
      animation-delay: .2s;
    }
  }
  .sixth {
    @include show;
    animation-delay: 1.2s;
    &.next {
      animation-delay: 1.4s;
    }
  }
  .vapor-trigger {
      @include hide;
      animation-delay: .2s;
    }
  .clouds-trigger {
    @include show-02;
    animation-delay: 1.8s;
  }
  &.pos-six-a {
    .scene {
      transform: translateX(-25%) translateY(30%) scale(1.4);
      transition: transform .3s $ease;
      transition-delay: .2s;
    }
    .sixth {
      @include hide;
      animation-delay: 0;
    }
    .clouds-info {
      transform: translateX(-300px);
      animation-delay: .2s;
    }
    .next {
      @include hide
    }
    .clouds-trigger {
      @include hide;
      animation-delay: .2s;
    }
  }
}

.pos-seven {
  .scene {
    transform: translateX(18%) translateY(9%) scale(.8);
    transition: transform 1.5s $ease;
    transition-delay: .3s;
  }
  .sixth {
    @include hide;
    &.next {
      animation-delay: .2s;
    }
  }
  .clouds-trigger {
      @include hide;
      animation-delay: .2s;
    }
  .seventh {
    @include show;
    animation-delay: 1.7s;
    &.next {
      animation-delay: 1.8s;
    }
  }
}
.pos-quiz {
  .scene {
    transform: translateX(18%) translateY(9%) scale(.8);
  }
  .seventh {
    @include hide;
    transition: transform .3s $ease;
    animation-delay: .2s;
    &.next {
      @include hide;
      animation-delay: .3s;
    }
  }
  .quiz {
    @include show;
    animation-delay: .6s;
    &.next {
      @include show;
      animation-delay: .7s;
    }
  }
}
