// Document information
// Typography style sheet for the water cycle interactve learning site
// Author: Luke Carl Thompson

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 36px;
}
