// Document information
// Variables style sheet for the water cycle interactve learning site
// Author: Luke Carl Thompson

//color variables
$white: #ffffff;
$yellow: #f2ca21;

//mixins
@mixin swing-m {
  transform: rotate(0);
  visibility: visible;
}

@mixin swing-l {
  transform: rotate(-90deg);
  visibility: visible;
}

@mixin swing-r {
  transform: rotate(90deg);
   visibility: hidden;
}
